@media (max-width: 765px) {
  h1{
    font-size: 3rem;
    height: 100px;
  }
}
@media (max-width: 512px) {
  h1{
    font-size: 2.3rem;
    height: 90px;
  }
}
@media (max-width: 312px) {
  h1{
    font-size: 1.7rem;
    height: 90px;
  }
}