/* This file is for overall changes to the front end and body  */

/* changes applied to all the elements of the html file  */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font:inherit;
    font-size: 100%;
}

/* Body of the html file  */
body{
    border: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-color);
    color:var(--text-color);
    display: grid;
    grid-template-columns:  170px  5fr 8fr  ;
    grid-template-rows: 50px auto;
    font-size: 15px;
    margin-left: calc(100vw -100%) ;
    z-index: -10;
}

ul,li{
    list-style-type: none;
}

.wrapper{
    position: fixed;
    display: none;
    background: var(--form-bg-color);
    height: 100%;
    width: 100%;
    z-index: 100000;
}

