/* This file is for overall changes to the front end and body  */

/* changes applied to all the elements of the html file  */
*{
    box-sizing: border-box;
}

/* Body of the html file  */
body{
    margin: 0;
    padding:0;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-color);
    color:var(--text-color);
    display: grid;
    grid-template-columns:  170px repeat(6,1fr);
    grid-template-rows: 50px auto;
}


/* Contains all the variables for colors, etc */
:root{
    --primary-color: rgba(5, 5, 5, 0.925);
    /* --primary-color: rgb(250, 250, 250); */
    --secondary-color: rgba(2, 150, 2, 0.856);
    /* --secondary-color: rgba(0, 183, 255, 0.774); */
    --ternary-color:rgb(76, 76, 76);
    /* --ternary-color:rgb(189, 189, 189); */
    --accents-color: #35ac1b;
    /* --accents-color: rgb(96, 223, 255); */
    --text-color: rgb(255, 255, 255);
    /* --text-color: rgb(32, 32, 32); */
    --text-color-secondary: rgb(214, 213, 213);
    /* --text-color-secondary: rgb(71, 71, 71); */

    --font-size-xx-large: ;
    --font-size-x-large: ;
    --font-size-large: ;
    --font-size-normal: ;
    --font-size-small: ;
    --font-size-x-small: ;
}