/* Listing mails with subjects, sender's email id and a preview of mail  */
#maillist{
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    overflow: auto;
    color: var(--text-color);
    border-radius: 5px;

}

.mail-prev{
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid var(--ternary-color); */
    background: var(--maillist-bg-color);
    height: 65px;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 5px 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-shadow: var(--maillist-box-shadow-color) 0px 1px  ;
    border-radius: 2px;
    border-bottom-left-radius: 0 ;
    border-bottom-right-radius: 0;
    margin: 1.5px;
    border-bottom: 1px solid rgb(83, 83, 83);
}

.mail-prev:hover{
    background: var(--ternary-color);
    cursor: pointer;
}

.from{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.1rem;
    font-weight: 700;
}

.listmail-subject{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.9rem;
}

.active-prev{
    background-color: var(--accents-color);
}
.active-prev:hover{
    background-color: var(--secondary-color) ;
}