/* sidebar/navbar for inbox, sent, trash, spam, etc   */


/* Configuring Container For Navbar/menubar  */

.menu-bar {
    /* Grid position */
    grid-column: 1/2;
    /* Making the menubar a flex cotainer  */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    /* Styling the menubar  */
    background: var(--primary-color);
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.85rem;
    font-weight: 400;
    user-select: none;
    user-zoom: none;

    overflow: hidden;
    overflow-x: visible;
    scroll-behavior: smooth;
}

.scrollable:hover{
    overflow: auto;
    overflow-x: visible;
}
::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-thumb{
    background: var(--ternary-color);
    max-height: 40px;
}

/* Properties of the List of links  */

.menu-bar ul {
    list-style: none;
    color: var(--text-color);
    padding: 5px 0px;
}


/* Current Folder(Inbox, sent, spam, etc) */

ul .active {
    background-color: var(--accents-color);
    padding: 16px 17px !important;
    margin: 5px 0px;
    transform: scale(1.003);
}
/* List Element properties */

.menu-bar ul li {
    padding: 12px 20px;
    width: 100%;
    transition: background-color 0.1s ease-in-out, border-radius 0.3s 0.4s ease-in;
    border-radius: 20px;
    position: relative;
}


/* Properties of menubar Links */

.menu-bar>ul li a {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
}




/* Highlight item with accent color and change border radius on hover */

.menu-bar>ul li:hover {
    background-color: var(--accents-color);
    border-radius: 8px;
    transform: scale(1.003);
}


/* Changes for Icons*/

.menu-bar .fas {
    margin-right: 9px;
    display: auto;
}


/* set default display mode to none for Hovering submenu*/

.sub-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top:0px;
    height: 0px;
    width: 0px;
    overflow: auto;
    transition: left 0.3s ease-in-out;  
}
.sub-menu-2 {
    display: block;
    position: absolute;
    left: 150px;
    bottom:0px;
    height: 0px;
    width: 0px;
    overflow: auto;
    transition: left 0.3s ease-in-out;  
}

/* For showing the submenu on hovering */
.menu-bar ul li:hover .sub-menu-1,
.menu-bar ul li:hover .sub-menu-2 {
    display: block;
    height: auto;
    width: 170px;
    /* top: 86px;
    left: 153px; */
    background: var(--secondary-color);
    border-radius: 7px;
    z-index: 100000;
}