/* sidebar/navbar for inbox, sent, trash, spam, etc   */
nav{
    grid-column: 1/2;
    margin:0;
}

.menu-bar{
    background: black;
}
.menu-bar ul{
    list-style: none;
    color: white;
}
.menu-bar ul li{
    margin: 20px;
    padding: 20px;
    width: 140px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.active,.menu-bar ul li:hover{
    background-color: #2bab0d;
    border-radius: 20px;
} 
.menu-bar .fa{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(0,100,0);
    left: 160px;
    top: 25px;
    border-radius: 30px;
}