
/* Section to read the mail. Has subject, sender's name and mail, attatchments, etc */
#readmail{
    grid-column: 4/8;
    display: flex;
    flex-flow: column nowrap;
    
    padding: 30px;

    font-size: 1.05rem;
    overflow: scroll;
}

#mail-body{
    align-self: stretch;
    justify-self: stretch;
    border: none;
    box-shadow: rgb(116, 116, 116) -1px 1px 3px;
    height: 100%;
    margin-right:13px;
    margin-bottom:13px;
}