
/* Section to read the mail. Has subject, sender's name and mail, attatchments, etc */
#readmail{
    grid-column: 4/8;
    display: flex;
    flex-flow: column nowrap;
    
    justify-content: stretch;
    padding: 10px 13px 8px 15px;

    font-size: 1.05rem;
    font-weight: 600;
}

#mail-body{
    border: none;
    box-shadow: rgb(116, 116, 116) -0.7px 0.7px 2.6px;
    height: 100%;
    margin-bottom:5px;
    font-family: 'Courier New', Courier, monospace;

}

#subject{
    font-weight: 800;
    font-size: 1.6rem;
}

iframe{
    background-color: white;
}