
/* Section to read the mail. Has subject, sender's name and mail, attatchments, etc */
#readmail{
    display: flex;
    flex-flow: column nowrap;
    
    justify-content: stretch;
    padding: 10px 13px 8px 15px;

    font-size: 1.05rem;
    font-weight: 600;
}

#mail-body{
    border: 1px solid rgb(27, 27, 27);
    height: 100%;
    margin-bottom:5px;
    font-family: 'Courier New', Courier, monospace;

}

#readmail-subject{
    font-weight: 800;
    font-size: 1.6rem;
}

iframe{
    background-color: white;
}