/* Top Bar with search, name, logo, settings, etc */

/* Properties of topbar container  */
#topbar{
    grid-column: 1/8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-color-secondary);
    padding: 5px 10px;
    user-select: none;
    user-zoom: none;
}

/* Logo and Name of app(Pymail) */
#mail-logo{
    display: flex;
    flex-basis: 60px;
    align-items: center;
    justify-content: space-between;
}

/* Disable Outline for all feilds */
*:focus{
    outline: none;
}


/* Search bar container */
#search-bar{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 30px;
    color:var(--text-color);
}

/* Input field for search bar  */
#search-field{
    width: 40vw;
    border-radius: 10px;
    padding:10px 15px;
    background-color: var(--ternary-color);
    color: var(--text-color);
    font-weight: bold;
    border: none;
}

/* Search button  */
#search-now{
    display: flex;
    align-items: center;
    padding:3px 4px;
    margin:0px 8px;
    background-color: var(--ternary-color);
    color:inherit;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/* On clicking(active) search button */
#search-now:active{
    filter: invert(0.8);
}


/* Settings icon */
#settings{
    display: inline-block;
    border-radius: 50%;
    padding:6px;
}

/* Properties to be applied to settings icon
on hovering on it  */
#settings:hover{
    background-color: var(--ternary-color);
    color: var(--text-color);
    cursor: pointer;
}

#settings:active{
    filter: invert(0.8);
}