/* Top Bar with search, name, logo, settings, etc */
#topbar{
    grid-column: 1/8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-color-secondary);
    padding: 5px 10px;
}


#settings{
    display: inline-block;
    border-radius: 50%;
    padding:6px;
}

#settings:hover{
    background-color: var(--ternary-color);
    color: var(--text-color);
    cursor: pointer;
}
#mail-logo{
    display: flex;
    flex-basis: 60px;
    align-items: center;
    justify-content: space-between;
}

#search-bar{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 30px;
    color:var(--text-color);
}

#search-field{
    width: 40vw;
    border-radius: 10px;
    padding:10px 15px;
    background-color: var(--ternary-color);
    color: white;
    border: none;
}

input:focus{
    outline: none;
}

#search-now{
    display: flex;
    align-items: center;
    padding:3px 4px;
    margin:0px 8px;
    background-color: var(--ternary-color);
    color:inherit;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#search-now:active{
    filter: invert(0.8);
    background-color: invert();
}
